/build
/node_modules
/*.log
/*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml

node_modules/.yarn-integrity


/.angular/**/*.*
/dist
/dist-react
/out-tsc

.DS_Store
/test-results
/tests/screenshots