/.angular
/.babelrc
/.github
/.idea
/.vscode
/.travis.yml
/.scrutinizer.yml
/AGENTS.*
/agents
/artifacts
/build
/corifeus-boot.json
/coverage
/Gruntfile.js
/node_modules
/playwright-report
/playwright*.*
/secure

/test
/test-results
/tests
/tsconfig.json

/*.iml
/*.ipr
/*.iws
/*.lock
*.log
npm-debug.log*
yarn-*.log*
/scripts
secure/
agents/
.claude/
/.angular/**/*.*
/src/**/*.*