@import '../../scss/vars';

p3xr-console {
    .p3xr-console-electron {
        margin: $layout-padding;
    }

    #p3xr-console-content {

        font-family: 'Roboto Mono' !important;
        //font-weight: 500;

        $minWidthCalc: 20px;

        text-align: center;

        #p3xr-console-content-output {
            pre {
                font-family: 'Roboto Mono' !important;
                //font-weight: 500;
                white-space: pre-wrap;
            }

            min-width: calc(100% - #{$minWidthCalc});
            text-align: left;

            .p3xr-console-content-output-item:before {
                content: "> ";
                opacity: 0.5;
            }
        }

        input {
            min-width: calc(100% - 18px);
            position: fixed;
            bottom: $toolbar-height + 8px;
            left: 3px;
            right: 0px;
        }
    }
}
