@use '../ui/p3xr-input';

@use '../../scss/vars' as v;


p3xr-console {
    .p3xr-console-electron {
        margin: v.$layout-padding;

    }

    md-toolbar {
        border-top-left-radius: v.$border-radius;
        border-top-right-radius: v.$border-radius;
    }

    #p3xr-console-content {

        font-family: 'Roboto Mono' !important;
        //font-weight: 500;

        $minWidthCalc: 20px;

        text-align: center;


        #p3xr-console-content-resizer {
            cursor: ew-resize;
            position: relative;
            left: -10px;
            width: 20px !important;
        }


        #p3xr-console-content-output {

            min-width: calc(100% - #{$minWidthCalc});
            text-align: left;
            
            pre {
                font-family: 'Roboto Mono' !important;
                //font-weight: 500;
                //white-space: pre-wrap;
            }


            .p3xr-console-content-output-item:before {
                content: "> ";
                opacity: 0.5;
            }
            .p3xr-console-content-output-item {
                pre {
                   // word-break: break-all;
                   // overflow-wrap: break-word;
                   // white-space: pre-wrap;
                }
            }
        }


    }
    .p3xr-console-monitor-quick {
        position: relative;
        top: 2px;
    }
}



#p3xr-console-input {
    

    min-width: calc(100% - 9px);
    position: fixed;
    bottom: v.$toolbar-height + 8px;
    left: 3px;
    right: 3px;

}

#p3xr-console-input:focus {

    @extend .p3xr-input, :focus;
}

#p3xr-console-autocomplete.p3xr-console-autocomplete-quick #p3xr-console-input {
    min-width: calc(100% - 20px);
    position: fixed;
    left: 10px;
    right: 10px;
}

.p3xr-console {
    background-color: transparent !important;
    md-autocomplete-wrap {
        box-shadow: none;
        background: none !important;
    }
}
