p3xr-main {

    @media (max-width:350px) {
        .p3xr-main-toolbar-button-hide-on-small {
            display: none;
        }
    }

    #p3xr-main-treecontrol-container {
        position: fixed;
        overflow: auto;
    }

    #p3xr-main-treecontrol-container-directive-small {
        max-height: 220px;
        overflow: auto;
    }

    .p3xr-main-treecontrol-folder-icon {
        transform: scale(0.75);
    }

    #p3xr-main-content-container {
        position: fixed;
        overflow: auto;
        display: block;
    }

    .p3xr-main-toolbar-button {

    }

    .p3xr-main-db-select {
        position: relative;
        top: -2px;
        .md-select-value {
            border-bottom: none !important;
        }
    }
}

#p3xr-main-content-sizer {
    position: fixed;
    display: block;
    cursor: ew-resize;
    z-index: 10;

}

.p3xr-quick-console {
    margin: 10px; 
}

.p3xr-quick-console-sidenav {
    overflow: hidden !important; 
    min-width: 240px !important;
    background-color: transparent !important;
    transition: none !important;
    max-width: 100%;
    //position: relative;

    //cursor: ew-resize;
    
}

