<md-toolbar class="md-accent" md-theme="{{ $root.p3xr.state.themeLayout}}" id="p3xr-main-header">
    <div class="md-toolbar-tools">
        <h2 flex md-truncate hide-xs>
            <a ui-sref="main.statistics">
                {{ $root.p3xr.strings.intention.main }}
            </a>
        </h2>
        <span ng-if="$root.p3xr.state.connection !== undefined">


            <button class="md-button" style="cursor: inherit !important; margin: 0; padding: 0;" ng-if="$root.p3xr.state.connection.awsElastiCache !== true && $root.p3xr.state.connection.azure !== true && $root.p3xr.state.connection.cluster !== true">
                <span ng-if="!$root.$mdMedia('xs')" style="position: relative; top: 1px;">{{ $root.p3xr.strings.form.main.label.database.toUpperCase() }}:</span>
                <md-input-container>
                    <md-tooltip ng-if="$root.$mdMedia('xs')" md-direction="bottom">{{ $root.p3xr.strings.form.main.label.database }}</md-tooltip>

                    <md-select ng-model="$ctrl.currentDatabase"
                               aria-label="{{ $root.p3xr.strings.form.main.label.database }}" class="md-accent p3xr-main-db-select">
                        <md-option ng-repeat="dbIndex in $root.p3xr.state.databaseIndexes" ng-value="dbIndex"
                                   ng-click="$ctrl.selectDatabase(dbIndex)">
                            <span ng-if="$root.p3xr.state.info.keyspaceDatabases[dbIndex]">
                                <md-icon>radio_button_checked</md-icon>
                            </span>
                            <span ng-if="!$root.p3xr.state.info.keyspaceDatabases[dbIndex]">
                                <md-icon>radio_button_unchecked</md-icon>
                            </span>
                            {{ dbIndex }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </button>


            <p3xr-button class="p3xr-main-toolbar-button" ng-if="$root.p3xr.state.connection.awsElastiCache !== true" ng-click="$ctrl.save()"
                         p3xr-label="$root.p3xr.strings.intention.save" p3xr-md-icon="save"></p3xr-button>


              <p3xr-button class="p3xr-main-toolbar-button"  ng-click="$ctrl.statistics()"
                           p3xr-label="$root.p3xr.strings.intention.statistics" p3xr-md-icon="show_chart"></p3xr-button>


              <p3xr-button class="p3xr-main-toolbar-button"  ng-click="$ctrl.refresh()"
                           p3xr-label="$root.p3xr.strings.intention.refresh" p3xr-md-icon="refresh"></p3xr-button>

        </span>
    </div>
</md-toolbar>
<md-content md-theme="{{ $root.p3xr.state.theme}}" id="p3xr-main-content" md-whiteframe="2">

    <div class="md-title" layout-padding
         ng-if="$root.p3xr.state.connections.list.length > 0 && $root.p3xr.state.connection === undefined">
        {{ $root.p3xr.strings.title.main }}

        <!--<pre>{{ $root.p3xr.strings | json}}</pre>-->

    </div>

    <div ng-if="$root.p3xr.state.connections.list.length === 0" layout-padding>
        <md-button ui-sref="settings" md-no-ink
                   style="display: inline-block;  word-wrap: break-word;  white-space: normal;">
            {{ $root.p3xr.strings.intention.noConnections }}

        </md-button>
    </div>

    <div ng-if="$root.p3xr.state.connection !== undefined">

        <p3xr-undefined hide-xs>
            <p3xr-main-treecontrol-controls id="p3xr-main-treecontrol-controls-container"
                                            p3xr-main-ref="$ctrl"></p3xr-main-treecontrol-controls>
            <p3xr-main-tree id="p3xr-main-treecontrol-container" p3xr-resize="$ctrl.resize()"
                            p3xr-main-ref="$ctrl"></p3xr-main-tree>
            <div id="p3xr-main-content-sizer" md-colors="{ background: resizerColor }"
                 md-theme="{{ $root.p3xr.state.themeLayout}}">
                <md-tooltip md-direction="top">{{ $root.p3xr.strings.label.resizerInfo({ width:
                    $root.p3xr.settings.resizeMinWidth}) }}
                </md-tooltip>
            </div>
            <div id="p3xr-main-content-container">
                <ui-view>
                </ui-view>
            </div>
        </p3xr-undefined>


        <div layout="column" ng-if="$root.$mdMedia('xs')">
            <p3xr-main-treecontrol-controls p3xr-main-ref="$ctrl" flex></p3xr-main-treecontrol-controls>
            <p3xr-main-tree flex id="p3xr-main-treecontrol-container-directive-small" p3xr-resize="$ctrl.resize()"
                            p3xr-main-ref="$ctrl"></p3xr-main-tree>
            <ui-view flex>
            </ui-view>
        </div>
    </div>


    </div>

</md-content>


