p3xr-main-treecontrol-controls {
    margin-top: 2px;
    display: block;
    text-align: center;
    min-height: 24px;


    .md-icon-button {
        height: auto !important;
        min-height: auto !important;;
        width: auto !important;;
        min-width: auto !important;;
        margin: 0 !important;;
        padding: 0 !important;
    }

    .p3xr-main-treecontrol-controls-search {
        clear: both;
        text-align: left;
        padding: 5px;
        input.withSearch {
            width: calc(100% - 100px) !important;
        }
        input.withoutSearch {
            width: calc(100% - 40px) !important;
        }
    }

}