p3xr-main-treecontrol-controls {
    margin-top: 2px;
    display: block;
    text-align: center;
    min-height: 24px;


    .md-icon-button {
        height: auto !important;
        min-height: auto !important;;
        width: auto !important;;
        min-width: auto !important;;
        margin: 0 !important;;
        padding: 0 !important;
    }

    .p3xr-main-treecontrol-controls-search {
        clear: both;
        text-align: left;
        padding: 5px;

        input.withSearch {
            width: calc(100% - 100px) !important;
        }

        input.withoutSearch {
            width: calc(100% - 80px) !important;
        }
    }

}

.p3xr-main-treecontrol-controls-divider-select {
    display: inline-block;
    .md-select-value {
       
        min-width: 0px !important;
        min-height: 0px !important;

        span:not(.md-select-icon) {
            visibility: hidden !important;
            display: none !important;
        }
        
        .md-select-icon {
            width: 3px !important;
            position: relative;
            left: -8px;
            top: -2px;
        }
    }
}
.p3xr-main-treecontrol-controls-divider-select-container {
    font-family: 'Roboto Mono' !important;
    font-weight: 500;
    font-size: 14px;
    padding: 0px !important;
    top: 137px !important;
    left: 103px !important;
    md-select-menu {
        md-content {
            min-width: auto;
        }
    }
}

.p3xr-main-treecontrol-controls-pager {
    position: relative;
    display: inline-block;
    top: 2px;
}

.p3xr-main-treecontrol-controls-keycount {
    opacity: 0.5;
    float: right;
    line-height: 26px;
    margin-top: 6px;
}
