@use '../../scss/vars' as v;

.p3xr-layout-content, .p3xr-layout-content-electron {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-bottom: v.$toolbar-height;
}

.p3xr-layout-content-electron {

}

.p3xr-layout-content {
    padding: v.$layout-padding;
    margin-top: v.$toolbar-height;
}

#p3xr-layout-header-container {
    top: 0px;
}

#p3xr-layout-footer-container {
    bottom: 0px;
}

#p3xr-layout-header-version-free {
    position: fixed;
    z-index: 6;
    top: 32px;
    left: 128px;
    font-size: 75%;
}

#p3xr-layout-header-version-donated {
    position: fixed;
    z-index: 6;
    top: 32px;
    left: 128px;
    font-size: 75%;
}

#p3xr-layout-header-container, #p3xr-layout-footer-container {
    position: fixed;
    z-index: 2;
    left: 0px;
    width: 100%;

    md-toolbar, .md-toolbar-tools {
        height: v.$toolbar-height !important;
        min-height: v.$toolbar-height !important;
        max-height: v.$toolbar-height !important;
    }
}

#p3xr-layout-reduced {
    position: fixed;
    z-index: 11;
    max-width: 310px;
    width: 310px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(v.$toolbar-height / 2);
    bottom: calc(v.$toolbar-height + 5px);
    font-weight: bold;
    text-transform: uppercase;
    line-height: calc(v.$toolbar-height / 2);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
}
