@import '../../scss/vars';



.p3xr-layout-content, .p3xr-layout-content-electron {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 5px;
  margin-bottom: $toolbar-height;
}

.p3xr-layout-content-electron {

}

.p3xr-layout-content {
  margin-top: $toolbar-height;
}

#p3xr-layout-header-container {
  top: 0px;
}

#p3xr-layout-footer-container {
  bottom: 0px;
}

#p3xr-layout-header-version {
  position: fixed;
  z-index: 6;
  top: 32px;
  left: 128px;
  font-size: 75%;
}

#p3xr-layout-header-container, #p3xr-layout-footer-container {
  position: fixed;
  z-index: 5;
  left: 0px;
  width: 100%;
  md-toolbar, .md-toolbar-tools {
    height: $toolbar-height !important;
    min-height: $toolbar-height !important;
    max-height: $toolbar-height !important;
  }
}

#p3xr-layout-reduced {
  position: fixed;
  z-index: 11;
  max-width: 310px;
  width: 310px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  height: $toolbar-height / 2;
  bottom: $toolbar-height + 5px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: $toolbar-height / 2;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}