
md-toast {
    position: fixed !important;
}

.p3xr-connected-readonly-filler {
    height: 40px;
}

md-dialog.fullscreen-dialog {
    width: 75%;
}
@media (max-width:959px) {
    md-dialog.fullscreen-dialog {
        min-height: 100%;
        min-width: 100%;
        border-radius: 0;
        md-dialog-content {
            height: 100vh;
            md-content {
                height: 100%;
            }
        }
    }

}



button > md-icon {
    position: relative;
    top: -1px;
}

/*
md-dialog md-dialog-actions {
    display: flex;
    flex-flow: row-reverse;
    justify-content: right;
}

md-dialog md-dialog-actions button {
}
 */

 .p3xr-animation {
 }

.p3xr-theme-light {

    fieldset {
        border-color: rgba(0, 0, 0, 0.5);
    }

}

.p3xr-theme-dark {

    fieldset {
        border-color: rgba(255, 255, 255, 0.25);
    }

    ::selection {
        color: white;
        background: black;
    }
    ::-moz-selection {
        color: white;
        background: black;
    }

    /*
    .tree-branch-head {
        position: relative;
        top: 13px;
    }
     */

    $json-status-bg-color: black;
    $json-status-color: white;

    .pico-content {
        background-color: grey !important;
        color: white !important;
    }

    .pico-modal-header {
        background-color: black !important;
    }
    .jsoneditor-modal a {
        color: black !important;
    }

    .jsoneditor-modal .jsoneditor-jmespath-label {
        color: black !important;
    }

    .jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-asc input.jsoneditor-button-asc, .jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-desc input.jsoneditor-button-desc  {
        color: white !important;
        background-color: black !important;
    }

    .jsoneditor-modal table th, .jsoneditor-modal table td {
        color: white !important;
    }

    .pico-content textarea, .pico-content select, .pico-content input {
        color: white !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    /*
    $json-menu-bg: #4b4b4b;
    $json-color: white;
    $json-editor-text-bg-color: #666666;
    $json-bg: #808080;
    $json-editable-bg: #808080;
    $json-editable-bg-focus: #b1b1b1;
    $json-button-focus: #868686;
    $jsoneditor-readonly: #acacac;
    $json-value-string: #00ff00;
    $json-value-type: #cccccc;
    $json-value-number: #cc8888;
    $json-value-boolean: #fff088;
    $json-value-null: #49a7fc;
    $json-value-invalid: white;
     */

    div.jsoneditor-tree {
        background-color: black;
    }
    
    div.jsoneditor-value.jsoneditor-string.jsoneditor-color-value {
        color: white;
    }

    .jsoneditor-preview {
        color: $json-status-color !important;
    }

    .jsoneditor-statusbar {
        background-color: rgba($json-status-bg-color, 0.25) !important;
        color: $json-status-color !important;
    }

    div.jsoneditor, div.jsoneditor-menu {
        border-color: #4b4b4b
    }

    div.jsoneditor-menu {
        background-color: #4b4b4b
    }

    div.jsoneditor textarea.jsoneditor-text, div.jsoneditor-tree {
        color: #fff
    }

    div.jsoneditor-field, div.jsoneditor-value {
        color: #fff
    }

    table.jsoneditor-search div.jsoneditor-frame {
        background: grey
    }

    tr.jsoneditor-highlight, tr.jsoneditor-selected {
        background-color: grey
    }

    div.jsoneditor-field.jsoneditor-highlight, div.jsoneditor-field[contenteditable=true]:focus, div.jsoneditor-field[contenteditable=true]:hover, div.jsoneditor-value.jsoneditor-highlight, div.jsoneditor-value[contenteditable=true]:focus, div.jsoneditor-value[contenteditable=true]:hover {
        background-color: grey;
        border-color: grey
    }

    div.jsoneditor-field.highlight-active, div.jsoneditor-field.highlight-active:focus, div.jsoneditor-field.highlight-active:hover, div.jsoneditor-value.highlight-active, div.jsoneditor-value.highlight-active:focus, div.jsoneditor-value.highlight-active:hover {
        background-color: #b1b1b1;
        border-color: #b1b1b1
    }

    div.jsoneditor-tree button:focus {
        background-color: #868686
    }

    div.jsoneditor td.jsoneditor-separator, div.jsoneditor-readonly {
        color: #acacac
    }

    div.jsoneditor-value.jsoneditor-string {
        color: #0f8
    }

    div.jsoneditor-value.jsoneditor-array, div.jsoneditor-value.jsoneditor-object {
        color: #bababa
    }

    div.jsoneditor-value.jsoneditor-number {
        color: #ff4040
    }

    div.jsoneditor-value.jsoneditor-boolean {
        color: #ff8048
    }

    div.jsoneditor-value.jsoneditor-null {
        color: #49a7fc
    }

    div.jsoneditor-value.jsoneditor-invalid {
        color: #fff
    }

    /* dark styling of the editor */
    /*
    div.jsoneditor,
    div.jsoneditor-menu {
        border-color: $json-status-bg-color;
    }
    div.jsoneditor-menu {
        background-color: $json-status-bg-color;
    }
    div.jsoneditor-tree,
    div.jsoneditor textarea.jsoneditor-text {
        background-color: $json-editor-text-bg-color;
        color: $json-color;
    }
    div.jsoneditor-field,
    div.jsoneditor-value {
        color: $json-color;
    }
    table.jsoneditor-search div.jsoneditor-frame {
        background: $json-bg;
    }

    tr.jsoneditor-highlight,
    tr.jsoneditor-selected {
        background-color: $json-bg;
    }

    div.jsoneditor-field[contenteditable=true]:focus,
    div.jsoneditor-field[contenteditable=true]:hover,
    div.jsoneditor-value[contenteditable=true]:focus,
    div.jsoneditor-value[contenteditable=true]:hover,
    div.jsoneditor-field.jsoneditor-highlight,
    div.jsoneditor-value.jsoneditor-highlight {
        background-color: $json-editable-bg;
        border-color: $json-editable-bg;
    }

    div.jsoneditor-field.highlight-active,
    div.jsoneditor-field.highlight-active:focus,
    div.jsoneditor-field.highlight-active:hover,
    div.jsoneditor-value.highlight-active,
    div.jsoneditor-value.highlight-active:focus,
    div.jsoneditor-value.highlight-active:hover {
        background-color: $json-editable-bg-focus;
        border-color: $json-editable-bg-focus;
    }

    div.jsoneditor-tree button:focus {
        background-color: $json-button-focus;
    }

    // coloring of JSON in tree mode
    div.jsoneditor-readonly {
        color: $jsoneditor-readonly;
    }
    div.jsoneditor td.jsoneditor-separator {
        color: $jsoneditor-readonly;
    }
    div.jsoneditor-value.jsoneditor-string {
        color: $json-value-string;
    }
    div.jsoneditor-value.jsoneditor-object,
    div.jsoneditor-value.jsoneditor-array {
        color: $json-value-type;
    }
    div.jsoneditor-value.jsoneditor-number {
        color: $json-value-number;
    }
    div.jsoneditor-value.jsoneditor-boolean {
        color: $json-value-boolean;
    }
    div.jsoneditor-value.jsoneditor-null {
        color: #49a7fc;
    }
    div.jsoneditor-value.jsoneditor-invalid {
        color: $json-value-invalid;
    }
     */
}


@import 'vars';

md-toolbar, .md-toolbar-tools {
    height: $toolbar-height !important;
    min-height: $toolbar-height !important;
    max-height: $toolbar-height !important;
}

body.p3xr-no-animation * {
    //transition: none;
    // weird fix
    transition: none !important;

    // md-backdrop.md-opaque.ng-enter fix
    md-backdrop.md-opaque.ng-enter {
        opacity: 0.48;
    }
}

#p3xr-redis-ui-bootstrap {
    height: 100vh;
}

.fa, .fas, .fab, far, .svg-inline--fa {
    transform: scale(1.5);
    margin-right: 5px !important;
    margin-left: 5px !important;
}

[ng-click] {
    cursor: pointer;
}

.md-button {
    min-width: auto;
}

.p3xr-md-input-container-no-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.p3xr-md-input-container-no-top {
    margin-top: 0px;
    padding-top: 0px;
}

.p3xr-md-input-container-bottom-info {
    opacity: 0.25;
}

.p3xr-typography-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.p3xr-theme-light {

    /*
    .p3xr-input {
      border-color: rgba(128, 128, 128, 0.5);
    }
    */

    json-tree .key {
        color: black;
        font-weight: bold;
    }

    .p3xr-md-menu-item-selected {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

}

.p3xr-theme-dark {

    .p3xr-md-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    json-tree .key {
        color: rgba(255, 255, 255, 0.6);
        font-weight: bold;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.75);
    }

    /*
    .p3xr-input {
      background-color: gray;
      color: white;
      border-color: rgba(200, 200, 200, 0.5);
    }
    */
}

.p3xr-pre {
    font-family: 'Roboto Mono' !important;
    //font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden !important;
    //white-space: pre;
    white-space: pre-wrap;
    //word-wrap: break-word !important;
    //overflow-wrap: break-word !important;
   // white-space: pre-wrap;
    word-spacing: 0px;
    //white-space: text-wrap;

}

.p3xr-not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p3x-margin-height {
    margin-bottom: $layout-padding;
}

@import '../injector';

input {
    font-family: 'Roboto' !important;
//    font-weight: 500;
}

textarea {
    font-family: 'Roboto Mono' !important;
}


treecontrol {
    font-family: 'Roboto Mono' !important;
    font-weight: 500 !important;
}

md-input-container.p3xr-md-input-container-no-bottom div.md-errors-spacer {
    min-height: 0px;
}


.p3xr-roboto-monospace * {
    font-family: 'Roboto Mono' !important;
    font-weight: 500 !important;
}

.p3xr-padding {
    padding: 8px;
}

.md-tooltip {
    background-color: black !important;
    color: white !important;
}

.md-raised:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
