@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~angular-material/angular-material.css';
@import '~angular-tree-control/css/tree-control.css';
@import '~angular-json-tree/dist/angular-json-tree.css';

#p3xr-redis-ui-bootstrap {
  height: 100vh;
}

.fa, .fas, .fab, far, .svg-inline--fa {
  transform: scale(1.5) !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

[ng-click] {
  cursor: pointer;
}

.md-button {
  min-width: auto;
}

input:-webkit-autofill {
  background-color: transparent !important;;
}

.p3xr-md-menu-item-selected {
  background-color: rgba(128, 128, 128, 0.5) !important;
}

.p3xr-md-input-container-no-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.p3xr-typography-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p3xr-input {
  padding: 3px;
  border-style: solid;
  border-width: 2px
}

.p3xr-theme-light {
  .p3xr-input {
    border-color: rgba(128, 128, 128, 0.5);
  }

  json-tree .key {
    color: black;
    font-weight: bold;
  }
}

.p3xr-theme-dark {
  json-tree .key {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
  }
}

.p3xr-theme-dark {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.75);
  }

  .p3xr-input {
    background-color: gray;
    color: white;
    border-color: rgba(200, 200, 200, 0.5);
  }
}

.p3xr-pre {
  font-family: monospace;
  font-size: 18px;
  line-height: 20px;
  white-space: pre;
  // white-space: pre-wrap;
  // word-wrap: break-word;
}

@import '../injector';

