<md-button ng-class="$ctrl.p3xrClasses" class="md-button-dark-hover-fix">
    <md-icon ng-if="$ctrl.p3xrMdIcon !== undefined">{{ $ctrl.p3xrMdIcon }}</md-icon>
    <i ng-if="$ctrl.p3xrFaIcon !== undefined" class="{{ $ctrl.p3xrFaIcon }}"></i>
    <span ng-if="$root.$mdMedia('(min-width: 720px)')">{{ $ctrl.p3xrLabel }}</span>
    <md-tooltip ng-if="$root.$mdMedia('(max-width: 720px)')" md-direction="{{ $ctrl.p3xrTooltipDirection || 'bottom' }}">{{
        $ctrl.p3xrLabel }}
    </md-tooltip>
</md-button>
