@import "../../scss/vars";

.p3xr-accordion-electron {
    margin-left: $layout-padding;
    margin-right: $layout-padding;
    margin-bottom: $layout-padding;
}

p3xr-accordion md-toolbar {
    // fix with border radious only left and right top of the toolbar
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}