[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

.p3xr-theme-light {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(0, 0, 0, 0.5);
    }
}


.md-hue-3 {
    md-checkbox:not(.md-checked) .md-icon, md-checkbox.md-checked .md-icon  {
        background-color: rgba(255, 255, 255, 1) !important;
        color: black !important;
    }    
    md-checkbox.md-checked .md-icon:after {
        border-color: black !important;
    }
}

md-checkbox:not(.md-checked) .md-icon {
    border-color: rgb(0, 0, 0) !important;
}


.p3xr-theme-dark {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(255, 255, 255, 0.5);
    }

    md-select-menu md-content md-option[selected],
    md-select-menu md-content md-option[selected].md-focused,
    md-select-menu md-content md-option[selected]:focus {
        color: white;
    }

    #p3xr-main-header .md-select-icon {
        color: black !important;
    }
}

body.p3xr-theme-dark[md-theme="p3xrThemeDarkoBluoLayout"] {
    #p3xr-main-header .md-select-icon {
        color: white !important;
    }

    md-checkbox:not(.md-checked) .md-icon {
        border-color: rgb(255, 255, 255) !important;
    }

}

body.p3xr-theme-light[md-theme="p3xrThemeRedisLayout"] {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .p3xr-main-db-select-container {
        md-select-menu md-content md-option[selected],
        md-select-menu md-content md-option[selected].md-focused,
        md-select-menu md-content md-option[selected]:focus {
            color: white;
        }
    }
    #p3xr-main-header .md-select-icon {
        color: black !important;
    }
}

body.p3xr-theme-dark[md-theme="p3xrThemeMatrixLayout"] {
    md-checkbox.md-checked .md-icon {
        background-color: transparent;
        border-color: black;
    }
}

md-select:not([disabled]):focus .md-select-value {
    color: inherit !important;
}
