.p3xr-theme-light {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.p3xr-theme-dark {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(255, 255, 255, 0.5);
    }

    md-select-menu md-content md-option[selected],
    md-select-menu md-content md-option[selected].md-focused,
    md-select-menu md-content md-option[selected]:focus {
        color: white;
    }

    #p3xr-main-header .md-select-icon {
        color: black !important;
    }
}

body[md-theme="p3xrThemeDarkoBluoLayout"].p3xr-theme-dark {
    #p3xr-main-header .md-select-icon {
        color: white !important;
    }
}

body[md-theme="p3xrThemeRedisLayout"].p3xr-theme-light {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .p3xr-main-db-select-container {
        md-select-menu md-content md-option[selected],
        md-select-menu md-content md-option[selected].md-focused,
        md-select-menu md-content md-option[selected]:focus {
            color: white;
        }
    }
    #p3xr-main-header .md-select-icon {
        color: black !important;
    }
}

body[md-theme="p3xrThemeMatrixLayout"].p3xr-theme-dark {
    md-checkbox.md-checked .md-icon {
        background-color: rgba(128, 255, 128, 0.75);
    }
}
