<div>
    <md-button class="md-button md-raised md-primary" ng-click="$ctrl.jsonViewer({ $event: $event})">
        <md-icon>table_chart</md-icon>
        {{ $root.p3xr.strings.intention.jsonViewShow }}
    </md-button>

    <span ng-if="!$ctrl.editable">
        <md-button class="md-button md-raised md-accent" ng-click="$ctrl.edit()">
            <md-icon>edit</md-icon>
            {{ $root.p3xr.strings.intention.edit }}
        </md-button>
    </span>

    <span ng-if="$ctrl.editable">
        <md-button class="md-button md-raised md-warn" ng-click="$ctrl.cancelEdit()">
            <md-icon>cancel</md-icon>
            {{ $root.p3xr.strings.intention.cancel }}
        </md-button>

        <md-button class="md-button md-raised md-accent" ng-click="$ctrl.save()">
            <md-icon>save</md-icon>
            {{ $root.p3xr.strings.intention.save }}
        </md-button>
    </span>

</div>



<div class="p3xr-pre" ng-click="$ctrl.edit()" ng-if="!$ctrl.editable">{{ $ctrl.p3xrValue }}</div>

<md-input-container class="md-block" ng-if="$ctrl.editable">
    <label>{{ $root.p3xr.strings.label.edit }}</label>
    <textarea ng-model="$ctrl.p3xrValue"></textarea>
</md-input-container>
