<div layout-gt-xs="row" layout="column" layout-align="start center" md-colors="{ background: 'primary-300' }">
    <div flex style="padding-left: 3px">
        {{ $root.p3xr.strings.page.key.set.table.value }}
    </div>
    <div flex="5" style="text-align: right">
        <md-button class="md-icon-button " ng-click="$ctrl.addSet({ $event: $event})">
            <md-tooltip>{{ $root.p3xr.strings.intention.add }}</md-tooltip>
            <md-icon>add</md-icon>
        </md-button>
    </div>
</div>

<div layout-gt-xs="row" layout="column" layout-align="start start" ng-repeat="value in $ctrl.p3xrValue"
     style="{{ $ctrl.setTableStyles({ $odd: $odd }) }}">
    <div flex class="p3xr-pre" style="padding-left: 3px; align-items: flex-start; max-height: 200px;"
         ng-click="$ctrl.editValue({ value: value, $event: $event})">{{ value }}
    </div>
    <div flex="5" style="text-align: right; ">
        <md-button class="md-icon-button md-accent" ng-click="$ctrl.showJson({ value: value})">
            <md-tooltip>{{ $root.p3xr.strings.intention.jsonViewShow }}</md-tooltip>
            <md-icon>table_chart</md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" ng-click="$ctrl.editValue({ value: value, $event: $event})">
            <md-tooltip>{{ $root.p3xr.strings.intention.edit }}</md-tooltip>
            <md-icon>edit</md-icon>
        </md-button>

        <md-button class="md-icon-button md-warn" ng-click="$ctrl.deleteSetMember({ value: value, $event: $event})">
            <md-tooltip>{{ $root.p3xr.strings.intention.delete }}</md-tooltip>
            <md-icon>delete</md-icon>
        </md-button>

    </div>
</div>

