p3xr-main-key-string {
  .p3xr-main-key-type-string-value {
    font-family: monospace;
    font-size: 18px;
    line-height: 20px;
    // white-space: pre-wrap;
    // word-wrap: break-word;
    width: 100%;
    height: 100%;
  }
}