<md-dialog style="min-width: 320px;">
    <form novalidate name="p3xrAskAuthorization" ng-submit="submit()">
        <md-toolbar md-theme="{{ $root.p3xr.state.themeLayout }}" class="md-hue-3">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>{{ $root.p3xr.strings.label.askAuth}}</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content md-theme="{{ $root.p3xr.state.theme }}">
            <md-content class="p3xr-padding">

                <md-input-container class="md-block">
                    <label>{{ $root.p3xr.strings.form.connection.label.username }}</label>
                    <input name="username" type="text" ng-model="model.username"
                           autocomplete="off">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ $root.p3xr.strings.form.connection.label.password }}</label>
                    <input name="password" type="password" ng-model="model.password"
                          autocomplete="off">
                </md-input-container>

            </md-content>
        </md-dialog-content>

        <!--
                    <md-dialog-actions layout="column" layout-gt-xs="row" layout-align-gt-xs="end end" layout-align="end end" md-theme="{{ $root.p3xr.state.theme }}">
        -->
        <md-dialog-actions  md-theme="{{ $root.p3xr.state.theme }}">



            <md-button class="md-raised md-warn" ng-click="cancel()" md-autofocus>
                <md-icon>cancel</md-icon>
                {{ $root.p3xr.strings.intention.cancel }}
            </md-button>

            <md-button class="md-raised md-primary" type="submit">
                <md-icon>done</md-icon>
                {{ $root.p3xr.strings.intention.ok }}
            </md-button>


        </md-dialog-actions>
    </form>
</md-dialog>
