.jsoneditor-poweredBy {
    display: none;
}
.ace_mobile-menu {
    display: none !important
}
@media (min-width:960px) {
    md-dialog.fullscreen-dialog-json-editor {
        min-width: 75%;
    }
}
