<md-dialog aria-label="{{ ::$root.p3xr.strings.intention.jsonViewShow }}" style="min-width: 320px">
    <md-toolbar md-theme="{{::$root.p3xr.state.themeLayout}}">
        <div class="md-toolbar-tools">
            <md-icon>edit</md-icon>
            &nbsp;
            {{ ::$root.p3xr.strings.intention.jsonViewEditor }}
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ok()" aria-label="{{ ::$root.p3xr.strings.intention.close }}">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex>
        <md-content style="font-family: monospace;">
            <div id="jsoneditor" style="width: 100%; height: 100%;"></div>
            <div ng-if="!isJson" layout-padding>
                {{ ::$root.p3xr.strings.label.jsonViewNotParsable}}
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ok()" class="md-raised md-primary" aria-label="{{ ::$root.p3xr.strings.intention.close }}">
            <md-icon>cancel</md-icon>
            {{ ::$root.p3xr.strings.intention.cancel }}
        </md-button>

        <md-button ng-if="::isJson" class="md-raised md-primary" ng-click="save()">
            <md-icon>save</md-icon>
            <span hide-sm hide-xs>{{ ::$root.p3xr.strings.intention.save }}</span>
            <md-tooltip ng-if="$root.$mdMedia('sm') || $root.$mdMedia('xs')" md-direction="bottom">{{ ::$root.p3xr.strings.intention.save }}</md-tooltip>
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
